.tooltip {
    .tooltip-inner {
        .oe_tooltip_string {
            background-color: $o-brand-odoo;
            color: white;
            font-weight: bold;
            padding: 5px;
        }
    }
}