$brand-primary: #78a0ff;
$brand-secondary: #128193;
$button-box: #354052;
$heading: #de8819;
$Label: #354052;
$Label-value: #354052;
$link: #00b3e5;
$notbook: #354052;
$tooltip: #8899a6;
$border: #696969;
$menu-main-title: #354052;
